<div class="wrapper-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="widget padding-md bg-white-alpha text-default">
          <ul class="nav nav-tabs">
            <li><a href='/login'><span class="text-default">Login</span></a></li>
            <li><a href='/users/new'><span class="text-default">Create an account</span></a></li>
            <li class='active'><a href='/password_resets/new'><span class="text-default">Forgot password?</span></a></li>
          </ul>
          <div class="tab-content">
            <% if flash[:alert] %>
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-fw fa-times-circle"></i></button>
              <p><i class="fa fa-info-circle"></i> <strong>Alert:</strong> <%= flash[:alert] %></p>
            </div>
            <% end %>
            <div>
              <%= form_tag password_resets_path, :method => :post, 'ng-controller'=>'PasswordResetController as prCtrl', 'name'=>'reset_user' do %>
              <div class="form-group">
                <label class='heading-default'>Enter your email and send password reset email.</label>
                <%= email_field :email, nil, class: 'form-control', placeholder:'Enter email address', name: 'resetpasswordemail', 'ng-model'=>'prCtrl.reset_user.email', 'required'=>'', 'ng-model-options'=>"{ updateOn: 'blur' }", 'is-existing'=>'' %>
                <div ng-show="reset_user.resetpasswordemail.$dirty && reset_user.resetpasswordemail.$invalid" class="ng-cloak has-error has-feedback" ng-cloak>
                  <span class="control-label" ng-show="reset_user.resetpasswordemail.$error.email">email is invalid</span>
                  <span class="control-label" ng-show="reset_user.resetpasswordemail.$error.required">email is required</span>
                  <span class="control-label" ng-show="reset_user.resetpasswordemail.$error.isExisting">email hasn't been registered</span>
                </div>
              </div>
              <%= submit_tag "Send an email", id: "send_email", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
