<section class="wrapper-xs bg-white border-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <ol class="breadcrumb no-margin">
          <li><strong>Top</strong></li>
          <% if @sub_title %>
            <li><a href="#link"><%= @sub_title %></a></li>
          <% end %>
          <% if @sub_title2 %>
            <li><a href="#link"><%= @sub_title2 %></a></li>
          <% end %>
          <% if @sub_title3 %>
            <li><a href="#link"><%= @sub_title3 %></a></li>
          <% end %>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.wrapper -->
