<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>
            <div style="
            background: #252931 url('http://flashcar-d.herokuapp.com/assets/slide-1-2.jpg') center center;
            background-color: #252931;
            background-image: url('http://flashcar-d.herokuapp.com/assets/slide-1-2.jpg');
            -webkit-background-size: cover;
            background-size: cover;
            padding: 1em 0;
            display: block;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;">
              <div style="
              width: 600px;
              margin-right: auto;
              margin-left: auto;
              padding-left: 15px;
              padding-right: 15px;
              box-sizing: border-box;
              content: ' ';
              display: table;">
                <h2><span style="
                color: #ffffff;
                box-sizing: border-box;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-weight: bold;
                text-transform: capitalize;
                font-size: 20px;
                line-height: 1.1;
                -webkit-font-smoothing: antialiased;">
                Make the vocabulary collection</span>
                </h2>
                <div style="
                margin-left: -15px;
                margin-right: -15px;">
                  <div style="
                  width: 100%;
                  float: left;
                  position: relative;
                  min-height: 1px;
                  box-sizing: border-box;">
                    <div style="
                    margin-bottom: 2em;
                    overflow: hidden;
                    -webkit-border-radius: 2px;
                    border-radius: 2px;
                    background-clip: padding-box;
                    padding: 2em;
                    background: rgba(255, 255, 255, 0.2);
                    color: #ffffff;">Create a flashcard.
                      <br/>Memorize a word with example sentences.
                      <br/>It's gonna be your dictionary.
                    </div>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container -->
            </div>
          </th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>
            <div style="
            background-color: rgb(22, 160, 133);
            color: #ffffff;
            padding: 2em 0;">
              <div style="
              width: 600px;
              margin-right: auto;
              margin-left: auto;
              padding-left: 15px;
              padding-right: 15px;">
                <div style="
                content: " ";
                display: table;
                box-sizing: border-box;">
                  <div style="
                  width: 100%;position: relative;
                  min-height: 1px;
                  box-sizing: border-box;">
                    All Rights Reserved ® Bambi
                  </div>
                </div><!-- /.row -->
              </div><!-- /.container -->
            </div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>
            <div style="
            padding:3em 0;
            width:600px;
            margin-right:auto;
            margin-left:auto;">
              <h2 style="
              margin-top:0;
              color:#2f353e;
              font-family:'Helvetica Neue',Helvetica, Arial,sans-serif;
              font-weight:bold;
              font-size:24px;"><%= @user.name %>,<br/>have you forgotten your password?
              </h2>
              <p>We can help you, reset your password.</p>
              <p>Click link to reset your password:</p>
              <p><a href="<%= @url %>" style="
              color: #ffffff;
              border-color: #16a085;
              border-width: 2px;
              background-color: #16a085;
              -webkit-box-shadow: 0 2px 0 0 #107360;
              box-shadow: 0 2px 0 0 #107360;
              padding: 10px 16px;
              font-size: 18px;
              line-height: 1.33;
              -webkit-border-radius: 2px;
              border-radius: 2px;
              background-clip: padding-box;
              font-weight: bold;
              text-decoration: none;
              box-sizing: border-box;
              cursor: auto;
              text-align: -webkit-match-parent;
              font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
              -webkit-font-smoothing: antialiased;">Create a New Password</a>
              </p>
              <br/>
              <p>The URL contains a special security code that only your trusted contacts can access.</p>
              <p>Thanks for joining and have a great day!!</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
