<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.name %>,<br/>have you forgotten your password?</h2>
    <p>We can help you, reset your password.</p>
    <p>
      Click link to reset your password:<br/><%= @url %>
    </p>
    <p>
      The URL contains a special security code that only your trusted contacts can access.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
