
<%# link_to "Visit secret page", secret_path %>

<section class="wrapper-sm">
  <div class="container-fluid">
    <h2 class="headline">Vocabulary Gallery</h2>
    <div class="row">
      <div class="col-sm-12">
        <!-- filters -->
        <ul id="filters" class="tags">
          <li class="active"><a class="btn btn-outline btn-primary" href="#link" data-filter="*">Show All</a></li>
          <li><a class="btn btn-outline btn-primary" href="#link" data-filter=".noun">Noun</a></li>
          <li><a class="btn btn-outline btn-primary" href="#link" data-filter=".verb">Verb</a></li>
          <li><a class="btn btn-outline btn-primary" href="#link" data-filter=".phrasal_verb">Phrasal Verb</a></li>
          <li><a class="btn btn-outline btn-primary" href="#link" data-filter=".adjective">Adjective</a></li>
          <li><a class="btn btn-outline btn-primary" href="#link" data-filter=".adverb">Adverb</a></li>
        </ul>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <br class="spacer-md">
    <!-- items -->
    <div class="row">
      <div class="isotope-container">
        <% @words.each do |word| %>
        <div class="col-sm-12 col-md-3 isotope-item <%= word.word_type %>">
          <div class="widget">
            <div class="thumbnail">
              <div class="overlay-container">
                <!-- <img src="assets/img-400x400.jpg" alt="img"> -->
                <div class="card-size"><h3><%= word.name %></h3></div>
                <div class="overlay-content is-animated">
                  <h3><%= word.word_type %></h3>
                  <p><% word.sentences.each do |sentence| %>
                    <%= sentence.content %>
                    <% end %>
                  </p>
                </div><!-- /.overlay-content -->
              </div><!-- /.overlay-container -->
            </div><!-- /.thumbnail -->
          </div><!-- /.widget -->
        </div><!-- /.col -->
        <% end %>
      </div><!-- /.isotope-container -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
