<section class="wrapper-sm">
  <div class="container-fluid">
	<h1 class="page-header">Editing word</h1>
	<%= render 'form' %>

	<%= link_to 'Show', @word %> |
	<%= link_to 'Back', words_path %>
  </div>
</section>
